<header class="px-4 lg:px-6 h-14 flex items-center">
  <a class="logoNombre" href="#">
    <img src="logo_dragonice.png">
    <span class="nombreEmpresa">{{ title }}</span>
  </a>
  <label for="menu">
    <img src="menu.png" class="menu-icono" alt="">
  </label>
  <nav class="navbar">
    <a class="" href="#">
      Productos
    </a>
    <a class="" href="#">
      Temporada
    </a>
    <a class="" href="#">
      Conocenos
    </a>
    <a class="" href="#">
      Contacto
    </a>
  </nav>
</header>